<input type="hidden" name="order_id" id="order_id" value="{{ order_id }}">
<input type="hidden" name="is_finalized" id="is_finalized" value="{{ is_finalized }}">

{% if txid_list|length > 0 %}
<div id="tx_info" style="display: block; padding: 15px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px; box-sizing: border-box; background-color: #dff0d8; border-color: #d6e9c6; color: #3c763d;">
  Transa&ccedil;&otilde;es recebidas detectadas:
  <ul id="txlist" style="padding-left: 20px;">
    {% for txid in txid_list %}
      <li>{{ txid }}</li>
    {% endfor %}
  </ul>

  Esta loja requer que as transa&ccedil;&otilde;es tenham {{mandatory_confirmations}} confirma&ccedil;&otilde;es na rede Dash antes de serem processadas. Uma vez atingido este n&uacute;mero, o pagamento ser&aacute; confirmado.
</div>
{% endif %}

<table>
<tr>
  <td colspan="4">Envie o seu pagamento da seguinte forma:</td>
</tr>
<tr>
  <td colspan="1" style="vertical-align:middle;">
  Quantidade <strong>Dash</strong>:
  </td>
  <td colspan="3">
    <div style="border:1px solid #FCCA09;padding:2px 6px;margin:2px;background-color:#FCF8E3;border-radius:4px;color:#CC0000;font-weight: bold;font-size: 120%;">
        {{ payment_amount }}
    </div>
  </td>
</tr>
<tr>
  <td colspan="1" style="vertical-align:middle;">
  Endere&ccedil;o:
  </td>
  <td colspan="3">
    <div style="border:1px solid #FCCA09;padding:2px 6px;margin:2px;background-color:#FCF8E3;border-radius:4px;color:#555;font-weight: bold;font-size: 120%;">
      {{ payment_address }}
    </div>
    </td>
</tr>
<tr>
<td colspan="1" style="vertical-align:middle;">
    QR Code:
</td>
<td colspan="3">
  <div style="border:1px solid #FCCA09;padding:5px;margin:2px;background-color:#FCF8E3;border-radius:4px;">
    <a href="dash:{{ payment_address }}?amount={{ payment_amount }}">
    <img src="{{ qr_code_url }}" alt="" title="" style="vertical-align:middle;border:1px solid #888;">
    </a>
  </div>
</td>
</tr>
</table>

Observa&ccedil;&atilde;o:
<ol>
   <li> Voc&ecirc; deve efetuar um pagamento dentro de uma hora ou seu pedido ser&aacute; cancelado.</li>
   <li> Assim que o seu pagamento for recebido, voc&ecirc; receber&aacute; um e-mail de confirma&ccedil;&atilde;o com os detalhes da entrega da encomenda. </li>
   <li> Voc&ecirc; pode enviar v&aacute;rios pagamentos para atingir o valor total exigido. </li>
</ol>
